<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/nav') %>
  <div class="jumbotron--mini">
    <div class="container">
      <div class="jumbotron__title">
        <h1>Courses</h1>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div class="content__group">
        <div class="content__group__title">
          <h3>Technology</h3>
        </div>
        <div class="row">
            <% courses.forEach((el) =>  { %>
            <div class="content__group__list col s3">
                    <a href="/course/<%= el.id %>" class="content--item">
                        <div class="content--item__image" style="background-image: url('<%= el.urlEmbed %>')">
                            <div class="content--item__price">
                                <span><%= formatUang(el.price) %></span>
                            </div>
                        </div>
                    <div class="content--item__title">
                        <span><%= el.courseName %></span>
                    </div>
                    </a>
                </div>
            <% }) %>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>