<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/nav') %>
  <div id="content-indi">
    <div class="banner--diagonal" style="background-image: url('<%= course.urlEmbed %>')"></div>
    <div class="container">
      <div class="row">
        <div class="col s8">
          <div class="content-indi__title">
            <span><%= course.courseName %></span>
          </div>
          <div class="content-indi__image">
            <img src="<%= course.urlEmbed %>">
          </div>
          <div class="content-indi__description">
            <p><%= course.description %></p>
          </div>
        </div>
        <div class="col s4">
          <div class="content-indi__price">
            <span>
              <%= formatUang(course.price) %>
            </span>
          </div>
          <div class="content-indi__action">
            <button class="btn waves-effect waves-light btn-large amber black-text" type="submit" name="action">Buy
            </button>
          </div>
          <div class="content-indi__video-list">
            <div class="title">
              <h4>Preview</h4>
            </div>
            <div class="content-indi__video-list--container">
                <% course.Videos.forEach((el,idx) => { %> 
                    <a href="/course/<%= course.id %>/video/<%= el.id %>" class="video-list">
                        <div class="video-list--left">
                            <div class="video-list__number"><%= el.order %></div>
                        </div>
                        <div class="video-list--right">
                            <div class="video-list__title"><%= el.name %></div>
                            <!-- <div class="video-list__duration">02:30</div> -->
                        </div>
                    </a>
                <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>